.nav-bar {
    display: flex;
    min-height: 4.5em;
    height: fit-content;
    align-items: center;
    width: 100%;
    gap: 1.5em;
    padding: 0 2em;
    background-color: var(--primary);
    box-sizing: border-box;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}